* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f64f4f;
    font-family:'Poppins', sans-serif;
}

.box {
    margin: 3rem auto;
    width: min(90vw, 800px);
    background: #363F5F;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
    color: white;
}

.box h1 {
    margin-bottom: 2.5rem;
    font-weight: normal;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0.4rem;

}

.box h2 {
    padding-bottom: 2rem;
    text-align: center;
}

.grupo {
    margin-bottom: 0.7rem;
    margin-left: 2rem;
    font-size: 20px;
    
}

.message {
    width: calc(100% - 2rem);
    border-radius: 0.8rem;
}

.personal {
    margin-left: 2rem;
}

.text {
    width: calc(100% - 2rem);
    height: 3rem;
    border-radius: 0.8rem;
    border-bottom: 3px solid #000;
    border-top: 0px;
    border-left: 0;
}

